<div class="container">
	<div class="row">
		<div class="col-sm-4 my-3">
			<div class="card" style="width: 18rem;">
				<img src="https://source.unsplash.com/800x600/?mission" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Missão</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 my-3">
			<div class="card" style="width: 18rem;">
				<img src="https://source.unsplash.com/800x600/?vision" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Visão</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 my-3">
			<div class="card" style="width: 18rem;">
				<img src="https://source.unsplash.com/800x600/?values" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Valores</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>
	<div>
<div>